<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Penguin Fashion</title>
<link rel="stylesheet" href="app.component.css">
</head>
<body>
<header class="header-color">
  <img class="logo" src="assets\Group 33072.png" alt="Penguin Fashion">
  <nav class="nav-group">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#product">Product</a></li>
      <li><a href="#about">About us</a></li>
      <li><a href="#contact">Contact us</a></li>
    </ul>
  </nav>
</header>
<main class="header-color">
  <div class="product-image">
    <img src="assets\Group 33103.png" alt="Nike React Infinity Run 2">
  </div>
  <div class="product-info">
    <span class="nike">Nike React </span>
    <div><span class="nike">Infinity Run 2</span></div>    
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <div class="buy-now-style">
      <button class="button-style"><img class="shoppingcart" src="assets\shopping-cart 1.png" alt="shopping-cart"><span>Buy Now</span></button>
    </div>
  </div>
</main>
<div class="shoe-text">CASUAL SHOES</div>
<div class="casual-shoes">
  <div class="shoe-card" *ngFor="let image of casualShoes">
    <img src="assets\image 5.png" alt="Nike Shoe">
    <h3>{{image.header}}</h3>
    <p>{{image.text}}</p>
    <div class="footer-ref">
    <div class="price">{{image.price}}</div>
    <button class="button-style-shoes"><img class="shoppingcart" src="assets\shopping-cart 1.png" alt="shopping-cart"><span>Buy Now</span></button>
  </div>
</div>
</div>
<div class="shoe-text">FORMAL SHOES</div>
<div class="casual-shoes">
  <div class="shoe-card" *ngFor="let image of formalShoes">
    <img src="assets\image 5.png" alt="Nike Shoe">
    <h3>{{image.header}}</h3>
    <p>{{image.text}}</p>
    <div class="footer-ref">
      <div class="price">{{image.price}}</div>
        <button class="button-style"><img class="shoppingcart" src="assets\shopping-cart 1.png" alt="shopping-cart"><span>Buy Now</span></button>
      </div>
  </div>
  </div>
</body>
</html>

<router-outlet></router-outlet>
